extends layout

block content
  div(class="welcome")
    h2 Welcome!
    p I am an amateur cook who enjoys experimenting with food and drink. Feel free to browse around to check out my favorite recipes and add your own!
    //-    img(src='/images/appetizers/green_beans.jpg', alt='some image')
  div
    h3 See Recipes
    a(href='/categories') Click
  div
    h3 Add Recipe
    a(href='/recipes/new') Click
