* {
    box-sizing: border-box;
}

/*GENERAL*/
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Ubuntu Condensed',
sans-serif;
}

/*link styles*/
a {
    text-decoration: none;
}

/*image styles*/
img {
    display: none;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 769px) {
    img {
        display: inline-block;
        width: 75%;
        margin-bottom: 20px;
    }
}

@media (min-width: 960px) {
    img {
        width: 75%;
    }
}

.circle {
    border-radius: 50%;
}

header,
footer {
    background: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer{
    color: white;
}

header a {
    color: white;
    background: black;
}

header {
        box-shadow: 0px  8px 8px gray;
}

/*have title take up whole line*/
.nav-icon {
    flex-basis: 100%;
}

@media (min-width: 769px) {

    header {
        justify-content: space-between;
    }
    
    .nav-icon{
        flex-basis: auto;
    }
    
    h1 {
        text-align: left;
    }
}

/*END HEADER*/

/*WELCOME PARAGRAPH*/
.welcome {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
}

.welcome h2 {
    margin-bottom: 0;
}

.welcome p {
    margin-bottom: 30px;
}
@media (min-width: 769px) {
    
    .welcome {
        align-items: center;
    }
    
    .welcome h2 {
        flex-basis: 100%;
        text-align: center;
}
    .welcome p {
        max-width: 400px;
    }
}
/*END WELCOME PARAGRAPH*/

/*MAIN CONTENT */
.main-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex:1;
    color: black;
    margin-top: 0px;
    padding-top: 0px;
/*
    margin-bottom:auto;
    padding-bottom:auto;
*/
}

/*SECONDARY CONTENT*/
.secondary-content {

    padding: 0;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: black 2px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.secondary-content h3 {
    flex-basis: 100%;
    margin:auto;
}
.secondary-content a{
    margin: auto;
}

/*NEW RECIPE*/

.new{
    text-align: center;
    flex:1;
}

.form-div{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 20%;
}
.form {
    flex:1;
    justify-content: flex-start;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background: gray;
/*    width: 100%;*/
    align-content: center;
    padding: 5%;
    border: 1px black solid;
    border-radius: 8px;
}

.form div{
   width: 100%;
    flex-basis: 100%;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px black solid;
/*    border: 1px black solid;*/
}

.form input {
    background: lightgray;
    border: none;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

.form textarea{
    height: auto;
}

/*NEW RECIPE*/
.recipe{
    flex:1;
    margin: 5%;
    padding: 8px;
    width: 65%;
    border: 1px black solid;
}

.directions{
    padding-bottom: 10px;
    border-bottom: 1px black solid;
}

a{
    margin: 5px;
    padding: 5px 8px;
    background: lightgray;
    border-radius: 8px;
    color: black;
}

/*CATEGORIES*/

.categories{
    flex: 1;
    margin:5%;
    padding:auto;
    flex-wrap: wrap;
    display: flex;
}

.categories div{
    width: 45%;
    border: 1px black solid;
    margin: 5px;
    padding: 8px;
}

@media (min-width: 769px){
    .categories div{
        width: 30%;
    }
}


/*MISC*/

.errors{
    color: red;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    font-size: 1em;
    padding: .5em;
}*/
