* {
    box-sizing: border-box;
}

/*GENERAL*/
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Ubuntu Condensed',
sans-serif;
}

/*link styles*/
a {
    text-decoration: none;
}

/*image styles*/
img {
    display: none;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 769px) {
    img {
        display: inline-block;
        width: 75%;
        margin-bottom: 20px;
    }
}

@media (min-width: 960px) {
    img {
        width: 75%;
    }
}

.circle {
    border-radius: 50%;
}

header,
footer {
    background: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer{
    color: white;
}

header a {
    color: white;
    background: black;
}

header {
        box-shadow: 0px  8px 8px gray;
}

/*have title take up whole line*/
.nav-icon {
    flex-basis: 100%;
}

@media (min-width: 769px) {

    header {
        justify-content: space-between;
    }
    
    .nav-icon{
        flex-basis: auto;
    }
    
    h1 {
        text-align: left;
    }
}

/*END HEADER*/

/*WELCOME PARAGRAPH*/
.welcome {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
}

.welcome h2 {
    margin-bottom: 0;
}

.welcome p {
    margin-bottom: 30px;
}
@media (min-width: 769px) {
    
    .welcome {
        align-items: center;
    }
    
    .welcome h2 {
        flex-basis: 100%;
        text-align: center;
}
    .welcome p {
        max-width: 400px;
    }
}
/*END WELCOME PARAGRAPH*/

/*MAIN CONTENT */
.main-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex:1;
    color: black;
	margin: 0px 20px 20px 20px;
    padding-top: 0px;
	background-color: lightgray;
	border-bottom: black 2px solid;
	
/*
    margin-bottom:auto;
    padding-bottom:auto;
*/
}

@media(min-width: 960px){
	.main-content{
		background-color: white;
		justify-content: space-around;
	}
}

/*SECONDARY CONTENT*/
.secondary-content {

    padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	padding: 10px;
	margin: 10px;
    border: 1px black solid;
	
}

.secondary-content a{
	background: white;
	padding: 5px 10px;
	margin-top: 0px;
}

@media(min-width: 960px){
	.secondary-content{
		background-color: lightgray;
		width: 40%;
		margin-bottom: 25px;
	}
}

.secondary-content h3 {
    flex-basis: 100%;
    margin:auto;
}
.secondary-content a{
    margin: auto;
}

/*NEW RECIPE*/

.new{
    text-align: center;
    flex:1;
}

.form-div{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 20%;
    flex: 1;
}
.form {
    flex:1;
    justify-content: flex-start;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background: gray;
/*    width: 100%;*/
    align-content: center;
    padding: 5%;
    border: 1px black solid;
    border-radius: 8px;
	font-family: 'Ubuntu Condensed',
sans-serif;
}

.form div{
   width: 100%;
    flex-basis: 100%;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px black solid;
/*    border: 1px black solid;*/
}

.form input, select,
#file-upload-button{
    background: lightgray;
    border: none;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
	font-family: 'Ubuntu Condensed',
sans-serif;
}

.form label, 
.form select,
.form input {
	width: fit-content;
}

@media(min-width:769px) {
    .form input, select {
        width:fit-content;
    }
}

.form textarea{
    background: lightgray;
    border: none;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
	white-space:pre-wrap;
	font-family: 'Ubuntu Condensed',
sans-serif; 
}

@media(min-width: 769px) {
    .form textarea{
        width: 60%;
        height: 100px;
    }
}

/*NEW RECIPE*/
.recipe{
    flex:1;
    margin: 5%;
    padding: 8px;
    width: 95%;
    border: 1px black solid;
}

@media(min-width:769px) {
	.recipe{
		width: 75%;
	}
	
	.recipe img{
		width: 30%;
	}
}

.ingredients{
	/*preserves line breaks*/
	white-space: pre-wrap;
}

.directions{
    padding-bottom: 10px;
    border-bottom: 1px black solid;
	white-space: pre-wrap;
}

a{
    margin: 5px;
    padding: 5px 8px;
    background: lightgray;
    border-radius: 8px;
    color: black;
	display: flex;
}

/*CATEGORIES*/

.categoriesHeader{
	margin: 20px 40px;
}

.categories{
    margin:0px 5%;
    padding:15px;
    flex-wrap: wrap;
    display: flex;
	justify-content: center;
}

.categories div{
    width: 45%;
    border: 1px black solid;
    margin: auto;
    padding: 8px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.categories div h3,
.categories div img,
.categories div a {
	width: 100%;
	text-align: center;
	justify-content: center;
}

.return{
	width: 25%;
	justify-content: center;
	flex: 1;
}

@media (min-width: 769px){
    .categories div{
        width: 30%;
		margin: 10px;
    }
}

@media(min-width: 980px){
	.categories div{
		width: 23%;
	}
}
/*EDIT*/

.edit{
    flex:1;
}

/*DELETE*/
.delete{
    flex:1;
}

.delete input{
	background: lightgray;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
}

.deleteItem{
	margin: 20px;
}



/*MISC*/

.errors{
    color: red;
    border: 1px solid red;
    margin: 0px 20%;
    border-radius: 8px;
    width: 30%;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    font-size: 1em;
    padding: .5em;
}*/
