extends ../layout

block content

    h2 Category
    div(class="categories")
        each recipe in recipes
            div
                recipe(class="category-recipe")
                    h3= recipe.name
                    a(href=`/recipes/${recipe.id}`) See details
    br
    a(href="../categories") Back to categories
            