extends ../layout

block content

    h2 Category
    div(class="main-content")
        each recipe in recipes
            recipe(class='secondary-content')
                h3= recipe.name
                a(href=`/recipes/${recipe.id}`) See details
    br
    a(href="../categories") Back to categories
            