extends ../layout

block content

    h2 Category
    each recipe in recipes
        recipe(class='recipe')
            h3= recipe.name
            a(href=`/recipes/${recipe.id}`) See details
    br
    a(href="../categories") Back to categories
            