extends ../layout

block content
  div(class="categories")
      div
        h3 Breakfast Recipes
        img(src='/images/breakfast.jpg')
        a(href='/categories/breakfast') Click
      div
        h3 Dinner Recipes
        img(src='/images/dinner.jpg')
        a(href='/categories/dinner') Click
      div 
        h3 Dessert Recipes
        img(src='/images/cake.jpg')
        a(href='/categories/dessert') Click
      div
        h3 Sides Recipes
        img(src='/images/side.jpg')
        a(href='/categories/sides') Click
      div
        h3 Cocktail Recipes
        img(src='/images/cocktail.jpg')
        a(href='/categories/cocktails') Click
  div(class="return")
    a(href="../") Home