extends ../layout

block content
  div
    h3 Breakfast
    a(href='/categories/breakfast') Click
  div
    h3 Dinner Recipes
    a(href='/categories/dinner') Click
  div 
    h3 Dessert Recipes
    a(href='/categories/dessert') Click
  div
    h3 Sides Recipes
    a(href='/categories/sides') Click
  div
    h3 Cocktail Recipes
    a(href='/categories/cocktails') Click