extends ../layout

block content
  div(class="main-content")
      div(class="secondary-content")
        h3 Breakfast
        a(href='/categories/breakfast') Click
      div(class="secondary-content")
        h3 Dinner Recipes
        a(href='/categories/dinner') Click
      div(class="secondary-content") 
        h3 Dessert Recipes
        a(href='/categories/dessert') Click
      div(class="secondary-content")
        h3 Sides Recipes
        a(href='/categories/sides') Click
      div(class="secondary-content")
        h3 Cocktail Recipes
        a(href='/categories/cocktails') Click