extends ../layout

block content
    h2(class="new") New Recipe!
    p(class="new") Add a new recipe below
    if(errors)
            ul(class="errors")
                each error in errors
                    li= error.msg
  
    include recipeForm.pug
        