extends ../layout

block content
    h2(class="new") New Recipe!
    p(class="new") Add a new recipe below
    if(errors)
            ul(class="errors")
                each error in errors
                    li= error.msg
  
    //the enctype="multipart/form-data" allows me to add photos
    div(class="form-div")
        form(action="/recipes", method="post" class="form" enctype="multipart/form-data")
            include recipeForm.pug
        